@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

*, *::before, *::after{
   box-sizing: border-box;
}

:root{
   --green:#D7BE69;
   --white:#fff;
   --light-white:#aaa;
   --black:#3d3d3d;
   --light-bg:#4b4b4b;
   --border:.1rem solid rgba(255,255,255,.3);
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: .2s linear;
   text-transform: none;
}

*::selection{
   background-color: var(--white);
   color:var(--black);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 8rem;
}

::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

::-webkit-scrollbar-track{
   background-color: transparent;
}

::-webkit-scrollbar-thumb{
   background-color: var(--green);
   border-radius: 5rem;
}

body{
   background-color: var(--black);
   /* display: flex; */
   line-height: 1.6;
}

section{
   max-width: 1200px;
   margin:0 auto;
   padding:2rem;
}

.btn{
   display: inline-block;
   margin-top: 1rem;
   border-radius: 5rem;
   background-color: var(--light-bg);
   cursor: pointer;
   color:var(--white);
   font-size: 1.8rem;
   padding:1rem 3rem;
}

.btn-event{
   display: flex;
   margin-top: 1rem;
   border-radius: 5rem;
   background-color: var(--light-bg);
   cursor: pointer;
   color:var(--white);
   font-size: 1.8rem;
   padding:1rem 3rem;
   justify-content: center;
   align-items: center;
}

.btn-event:hover{
   background-color: var(--white);
   color:var(--black);
}

.btn:hover{
   background-color: var(--white);
   color:var(--black);
}

.heading{
   margin-bottom: 2.5rem;
   text-align: center;
   font-size: 4rem;
   color:var(--white);
   text-transform: uppercase;
}

.heading span{
   color:var(--green);
   text-transform: uppercase;
}

.headers{
   position: fixed;
   top:0; left:0; right:0;
   z-index: 1000;
   padding:0 20px;
   background-color: var(--light-bg);
}

.headers .flex{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.headers .flex .logo{
   font-size: 2.5rem;
   color:var(--white);
}

.headers .flex .navbar a{
   margin-left: 2rem;
   color:var(--light-white);
   font-size: 2rem;
}

.headers .flex .navbar a:hover{
   color:var(--green);
}

#menu-btn{
   cursor: pointer;
   color:var(--white);
   font-size: 2.5rem;
   display: none;
}

.name{
   margin-top: 6rem;
   border-style: double;
   border-color: #D7BE69;
   
}

.name .box p{
   margin-bottom: 1rem;
   margin-top: 2rem;
   font-size: 3rem;
   color:var(--green);
   line-height: 1;
   text-align: center;
}

.home{
   margin-top: 0.5rem;
   height: 100vh;
   display: flex;
}

.home .row{
   display: flex;
   align-items: center;
   flex-wrap: wrap-reverse;
   /* gap:0.1rem; */
}

.home .row .content{
   flex:1 1 40rem;
   text-align: center;
}

.home .row .image{
   flex:1 1 40rem;
}

.home .row .image img{
   display: block;
   width: 50%;
   margin-left: auto;
   margin-right: auto;

}

.home .row .content h3{
   margin-bottom: 1rem;
   font-size: 6rem;
   color:var(--white);
   line-height: 1;
}

.home .row .content h4{
   margin-bottom: 1rem;
   font-size: 2.5rem;
   color:var(--white);
   line-height: 2;
}

.home .row .content p{
   margin-bottom: 0.1rem;
   font-size: 3rem;
   color:var(--green);
   /* line-height: 1; */
}


.home .row .content h5{
   margin-bottom: 1rem;
   font-size: 2rem;
   color:var(--green);
   line-height: 3;
   
}

.home .row .content h3 span{
   color:var(--green);
   
}

/* a */
.inner-border {
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.outer-border {
  border: 2px solid #DE9B72;
   height: 99%;
   width: 98%;
   padding: 6px;
   margin: 0 auto;
}

@media (min-width: 992px) {
  .outer-border {
     height: 94%;
  }
}

.mid-border {
   border: 6px solid #DE9B72;
   height: 100%;
   width: 100%;
   padding: 6px;
   margin: auto;
}

/* .dark-background::before {
   content: "";
   background-image: url(../static/backgroud.png);
   background-size: cover;
   background-position: center top;
   opacity: 0.5;
   position: absolute;
   z-index: -1;
}

.dark-background {
   position: relative; 
   height: 100vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
} */



/* .couple .dark-background::before {
   /* background-color: rgba(0,0,0,0.25); */
   /* background-color: rgba(152, 66, 211, 0.63);
} */ */

.couple .dark-background .inner-border {
  position: relative;
  border: 2px solid #DE9B72;
  height: 100%;
  width: 100%;
  margin: auto;
}


/* Decorations */
.corner-decoration {
  position: absolute;
  width: 3em;
  margin: -3px;
}

@media (min-width: 768px) {
  .corner-decoration {
     width: 3.5em;
       margin: -4px;
  }
}

@media (min-width: 992px) {
  .corner-decoration {
     width: 4em;
       margin: -5px;
  }
}

@media (min-width: 1200px) {
  .corner-decoration {
     width: 5em;
       margin: -6px;
  }
}

.couple .dark-background .corner-decoration.corner-left-top {
  left: 0;
  top: 0;
}

.couple .dark-background .corner-decoration.corner-right-top {
  top: 0;
  right: 0;
   -webkit-transform: scaleX(-1);
 transform: scaleX(-1);
}

.couple .dark-background .corner-decoration.corner-right-bottom {
  right: 0;
  bottom: 0;
  -webkit-transform: scale(-1);
  transform: scale(-1);
}

.couple .dark-background .corner-decoration.corner-left-bottom {
  left: 0;
  bottom: 0;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}


.couple .dark-background .vertical-decoration {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 11em;
}


@media (min-width: 768px) {
  .vertical-decoration {
     width: 16em;
  }
}


@media (min-width: 992px) {
  .vertical-decoration {
     width: 20em;
  }
}

@media (min-width: 1200px) {
  .vertical-decoration {
     width: 27em;
  }
}

.vertical-decoration.top {
  top: 0;

}

.vertical-decoration.bottom {
  bottom: 0;
  -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}
/* d */
/* .couple {
   position: relative;
   display: flex;
} */
/* .dark-background::before {
   content: "";
   opacity: 0.6;
   background-image: url(../static/backgroud.png);
   background-position: center top;
   background-size: cover;


} */

/* .dark-background::before {
   position: relative;
   justify-content: center;
   display: flex;
   align-items: center;
   justify-content: center;
} */

.couple .dark-background {
   content: "";
   background-image: url(../static/backgroud.png);
   background-position: center top;
   background-size: cover;
}

.couple .box-container h3{
   margin-bottom: 1rem;
   font-size: 3rem;
   color:var(--white);
   color: rgba( 255, 255, 255, 1);
   line-height: 2;
   text-align: center;
}

.couple .box-container p{
   margin-bottom: 1rem;
   font-size: 2.5rem;
   color:var(--white);
   line-height: 1;
   text-align: center;
}

.couple .box-container h1{
   margin-bottom: 1rem;
   font-size: 5rem;
   color:var(--white);
   line-height: 1;
   text-align: center;
}

.couple .box-container h4{
   margin-bottom: 1rem;
   font-size: 5rem;
   color: var(--green);
   line-height: 1;
   text-align: center;
}

.couple .box-container span{
   margin-bottom: 1rem;
   font-size: 2rem;
   color:var(--white);
   line-height: 1;
   text-align: center;
}


.couple .ayat{
   margin-top: 6rem;
   border-style: double;
   border-color: #95690b;
}
.couple .ayat p{
   margin-bottom: 1rem;
   font-size: 2.5rem;
   color:var(--white);
   line-height: 1;
   text-align: center;
}
.couple .ayat h2{
   margin-bottom: 1rem;
   font-size: 3rem;
   color:var(--green);
   line-height: 2;
   text-align: center;
}

.Events p{
   margin-bottom: 1rem;
   font-size: 2.5rem;
   color:var(--white);
   line-height: 1;
   text-align: center;
}

.Events .akad{
   border-style: double;
   border-color: #D7BE69;
}

.Events .resepsi{
   border-style: double;
   border-color: #D7BE69;
}

.Events .akad h3{
   margin-bottom: 1rem;
   font-size: 3rem;
   color:var(--green);
   line-height: 2;
   text-align: center;
}

.Events .resepsi h3{
   margin-bottom: 1rem;
   font-size: 3rem;
   color:var(--green);
   line-height: 3;
   text-align: center;
}
.Events .akad h4{
   margin-bottom: 1rem;
   font-size: 2rem;
   color:var(--white);
   line-height: 1;
   text-align: center;
}
.Events .resepsi h4{
   margin-bottom: 1rem;
   font-size: 2rem;
   color:var(--white);
   line-height: 1;
   text-align: center;
}
.count .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
}

.count .box-container .box{
   background-color: var(--light-bg);
   border-radius: .5rem;
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   gap:2.5rem;
}

.count .box-container .box i{
   font-size: 5rem;
   color:var(--green);
}

.count .box-container .box .content h3{
   font-size: 2rem;
   color:var(--white);
   margin-bottom: .5rem;
}

.count .box-container .box .content p{
   font-size: 1.6rem;
   color:var(--light-white);
} 
.count p{
   margin-bottom: 1rem;
   font-size: 2.5rem;
   color:var(--white);
   line-height: 2;
   text-align: center;
}

.closing p{
   margin-bottom: 1rem;
   font-size: 2.5rem;
   color:var(--white);
   line-height: 1;
   text-align: center;
}
.closing h2{
   margin-bottom: 1rem;
   font-size: 3rem;
   color:var(--green);
   line-height: 1;
   text-align: center;
}
.closing h3{
   margin-bottom: 1rem;
   font-size: 2rem;
   color:var(--white);
   line-height: 1;
   text-align: center;
}
.closing h4{
   margin-bottom: 1rem;
   font-size: 1.5rem;
   color:var(--white);
   line-height: 1;
   text-align: center;
}


.Reservasi .row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:1.5rem;
}

.Reservasi .row .image{
   flex: 1 1 40rem;
}

.Reservasi .row .image img{
   width: 100%;
}

.Reservasi .row form{
   flex:1 1 40rem;
}

.Reservasi .row form .box{
   width: 100%;
   margin-top: 1rem;
   margin-bottom: 2rem;
   border-radius: .5rem;
   background-color: var(--light-bg);
   font-size: 1.8rem;
   color:var(--white);
   padding:1.4rem;
   text-transform: none;
}

.Reservasi .row form span{
   font-size: 1.6rem;
   color:var(--light-white);
}

.Reservasi .row form .radio{
   margin-top: 2rem;
   margin-bottom: 1rem;
}

.Reservasi .row form .radio label{
   font-size: 1.6rem;
   color:var(--light-white);
   margin-left: .5rem;
   cursor: pointer;
}

.Reservasi .row form .radio #female{
   margin-left: 2rem;
}

.Reservasi .row form .radio input{
   appearance: none;
   height: 2rem;
   width: 2rem;
   background-color: var(--light-white);
   cursor: pointer;
}

.Reservasi .row form .radio input:checked{
   background-color: var(--green);
   border-radius: 5rem;
}

.Reservasi .row form .radio #male:checked ~ label[for="male"]{
   color:var(--green);
}

.Reservasi .row form .radio #female:checked ~ label[for="female"]{
   color:var(--green);
}

.footer{
   background-color: var(--light-bg);
   text-align: center;
}

.footer .share a{
   margin:0 .3rem;
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.5rem;
   border-radius: 50%;
   font-size: 2rem;
   color:var(--white);
   background-color: var(--black);;
}

.footer .share a:hover{
   background-color: var(--green);
}

.footer .credit{
   margin-top: 2.5rem;
   padding:1.5rem;
   padding-top: 2.5rem;
   border-top: .1rem solid var(--light-white);
   font-size: 2rem;
   color:var(--light-white);
}

.footer .credit span{
   color:var(--green);
}


/* media queries  */

@media (max-width:991px){

   html{
      font-size: 55%;
   }

   .home .row .content h3{
      font-size: 8rem;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   #menu-btn.fa-times{
      transform: rotate(180deg);
   }

   .header .flex .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      border-top: .1rem solid var(--light-white);
      border-bottom: .1rem solid var(--light-white);
      background-color: var(--light-bg);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }
   
   .header .flex .navbar a{
      display: block;
      margin:2rem;
   }

   .home .row .content h3{
      font-size: 6rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }
   
   .home .row .content h3{
      font-size: 5rem;
   }

   .heading{
      font-size: 3rem;
   }

}